<% if event.errors.any? %>
  <div class="error-messages mt-2">
    <ul class="alert-danger">
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_with(model: event, local: true) do |form| %>
  <div>
    <%= form.label :name, class: 'input-label' %>
    <%= form.text_field :name, class: 'input' %>
  </div>
  <div>
    <%= form.label :description, class: 'input-label' %>
    <%= form.text_field :description, class: 'input' %>
  </div>

  <div>
    <%= form.label :date, class: 'input-label' %>
    <%= form.datetime_field :date, as: :datetime, value: form.object.try(:strftime, "%m/%d/%Y"), class: 'input', min: Date.current %>
  </div>

  <div>
    <%= form.label :tickets_available, class: 'input-label' %>
    <%= form.number_field :tickets_available, value: form.object.present? ? form.object.tickets_available : 0, class: 'input', min: 0 %>
  </div>

  <%= form.fields_for :location, event.location.present? ? event.location : event.build_location do |fl| %>
    <%= fl.label :address, class: 'input-label' %>
    <%= fl.text_field :address, class: 'input' %>
  <% end %>


  <div class="mt-4 w-100 flex justify-items-end">
    <%= form.submit class: 'button-primary ml-auto' %>
  </div>
<% end %>